body{
    background-color: #FFEFD5;
    color: #8B4513;
    width: 70%;
    margin-left: 15%;
    overflow: hidden;
}
table, th, td {
    border: 1px solid black;
    margin: 0% 0 0 40%;
}
a{
    color: #8B4513;
}
a :hover{
    color: #8B4513;
}
p{
    text-align: justify;
}
h1{
    background-image: url(MicrosoftTeams-image.png);
    width: 90%;
    height: 100px;
    background-position: center;
    margin-left:auto;
    margin-right:auto;
    background-repeat: no-repeat;
    color: lightgrey;
}
.bemutatas{
    margin-left: 40%;
    float: right;
    margin-bottom: -50%;
}
.csipos{
    margin-top: 30%;
    margin-left: 40%;
    float: right;
}
li{
    border: 1px solid lightblue;
    margin: 0% 75% 0% 0%;
    text-align: center;
    background-color: white;
    margin-bottom: 15px;
    color: black;
}
.menu{
    margin-bottom: -50%;
}
.mukodj{
    position: relative;
    bottom: 440px;

}